{
  "presets": [
      "@babel/preset-typescript",
      [
          "@babel/preset-env",
          {
              "targets": {
                  "node": "10.16"
              },
              "corejs": 3,
              "useBuiltIns": "usage"
          }
      ]
  ],
  "plugins": ["add-module-exports"],
  "env": {
      "test": {
          "plugins": []
      }
  },
  "sourceMaps": true
}
