{
  "presets": [
    [
      "@babel/preset-env",
      { "targets": { "node": "16.13.0" }, "modules": "cjs" }
    ],
    ["@babel/preset-typescript"]
  ],
  "plugins": [
    ["@babel/plugin-transform-typescript", { "allowDeclareFields": true }]
  ],
  "sourceMaps": true
}
